body {margin:0;
padding:0; }

ul {list-style: none;}

div 


.top-left-corner {float:left; 
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: rgb(64,64,64);
    }
    
.top-left-corner li {float: left;
padding: 10px;
color: rgb(64,64,64)}

.top-left-corner a {text-decoration: none;
    color: rgb(64,64,64);}
.top-left-corner a:visited {color: inherit;}
.top-left-corner a:hover {text-decoration: underline;}

.top-right-corner {float:right; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64,64,64);
}

.top-right-corner li {float: left;
padding: 10px;
}

.searchbar {text-align: center;}

.searchbar input {margin: auto;
width: 583.9px;
height: 43.99px; 
text-align: left;
display: inline-block;
align-items: center;
border-radius: 25px;
}




.logo img {display: block;
    margin-top:auto;
    margin-left: 35%;
    margin-right: auto;
    width: 35%;
padding-top: 109px;}

.buttons li {
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
color: rgb(64,64,64);
white-space: nowrap;
width: 200px;
margin: 11px 4px;
padding: 0px 16px;
}

.buttons li button {height: 36px; 
    width:227px;
font-family: inherit;
color: inherit;
text-align: center;

}

.bottom-left-corner {float: left;
font-family: Arial, Helvetica, sans-serif;
color: rgb(64,64,64);
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: left;
margin-bottom: 30px;
}



.bottom-left-corner li {float: left;
padding: 10px 0px 0px 27px;
color: rgb(64,64,64)
}

.bottom-left-corner a {text-decoration: none;
color:inherit}

.bottom-left-corner a:visited {color: inherit;}

.bottom-left-corner a:hover {text-decoration: underline;}

.bottom-left-corner.bottom-right-corner li a {float:right;
}

